<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Alle personen</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Personen</h1>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Geboortedatum</th>
            <th>Geslacht</th>
            <th>Aanspreektitel</th>
        </tr>
        <tr th:each ="persoon : ${personen}">
            <td th:utext="${persoon.voornaam}">...</td>
            <td th:utext="${persoon.achternaam}">...</td>
            <td th:utext="${persoon.geboorteDatum}">...</td>
            <td th:utext="${persoon.geslacht}">...</td>
            <td th:utext="${persoon.aanspreekTitel}">...</td>
        </tr>
    </table>
</div>
<br/>
<div>
    <form th:action="@{/personen/index}">
        <button type="submit" th:name="action">Terug</button>
    </form>
</div>
</body>
</html>