<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Alle personen</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>PersonenApplicatie</h1>

<div>
    <form th:action="@{/personen/all}">
        <button type="submit" >Alle personen</button>
    </form>
    <br/>
    <form th:action="@{/personen/add}">
        <button type="submit" >Voeg toe</button>
    </form>
</div>
</body>
</html>